.containerProces{
    padding-top:40px;
    width: 100%;
    text-align: center;

}
.color-green{
    color: #0DB3A6;
}
.bricks{
    padding: 0 10px;
}
.bricks-primary-title{
    font-size: 20px;
    line-height: 24px;
}
.containerProces .proces-content{
    text-align: center;
    padding-bottom: 20px;
}
.containerProces .proces-content .list-item{
    padding-bottom: 20px;
}
.containerProces .proces-content .list-item .item-title{
    padding: 0 5px;
    font-size: 16px;
    line-height: 20px;
    margin: 20px auto 10px;
    font-weight: 500;
}
.containerProces .proces-content .list-item .item-description{
    padding: 0 5px;
    font-size: 14px;
    color: #5E6D82;
    line-height: 18px;
    margin-bottom: 20px;
}
.containerProces .proces-content .list-item .step-img{
    width: 100%;
    
}
.containerProces .proces-content .list-item .item-img{
    position: relative;
}
@keyframes jump {
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0px);
    }
}
.containerProces .item-img .ya{
    position: absolute;
    top:0;
    right: 60px;
    width: 60px;
    animation: jump 3s infinite;
}
.containerProces .item-img .yb{
    position: absolute;
    left: 60px;
    bottom: 30px;
    width: 60px;
    animation: jump 3s infinite;
}
.containerProces .item-img .yc{
    position: absolute;
    width: 60px;
    right: 30px;
    bottom: 0;
    animation: jump 3s infinite;
}
.item-img .ya img, .yb img, .yc img{
    width: 100%;
}